
.van-nav-bar {
    width: 100%;
    background-color: #1989fa;
}
.van-nav-bar__title {
    color: white;
}
.van-nav-bar__text {
    color: white;
}
.van-nav-bar__arrow {
    color: white!important;
}